$image: url('../../assets/taverneiro.jpg'), linear-gradient(180deg, #465879, #6b4949);

form {
    margin: 80px auto;
    padding: 16px;
    max-width: 730px;
    background: #FFF;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  form fieldset {
    margin-top: 64px;
    min-inline-size: auto;
    border: 0;
  }

  form legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  form legend span {
    font-size: 14px;
    font-weight: normal;
    color: var(--text-color);
  }

  .home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.lateral-image {
    height: 100vh;
    width: 16%;
    display: inline-block;
    background: $image;
    background-position-x: -200px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


