$image: url('../../assets/home-image.jpg'), linear-gradient(180deg, #465879, #6b4949);
$imageWithoutGradient: url(/static/media/home-image.62fc4031.jpg);

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.black-white {
    background: url('../../assets/home-image.jpg'), linear-gradient(180deg, #465879, #6b4949);
    transition: 1s;
}

.colorfull {
    background: url('../../assets/home-image.jpg');
    transition: 1s;
}

.colorfull, .black-white {
    background-blend-mode: luminosity;
    background-size: cover;
    background-position-y: bottom;
    background-attachment: fixed;
}

.link {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
    height: 24px;
    display: inline-block;
}