.custom-button {
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}

.custom-button:hover {
    background-color: #fff;
    color: #000
}